.title_label {
    border-radius: 20px 20px 20px 20px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00c2cb;
    width: 30vw;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

.title {
    text-align: center;
    width: 30vw;
    background-color: #00c2cb;
    padding: 2vw 1vw;
    border-radius: 10px 10px 10px 10px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-left: 460px;
    display: flex;

}

.Login {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 350px;
    width: 30vw;
    padding: 2vw 1vw;
    background-color: #f0a30f;
    border-radius: 10px 10px 10px 10px;
    font-size: 1rem;

}


.button-cls {
    text-align: center;
    flex-direction: column;
    color: #fff;
    background-color: #00c2cb;
    padding: 5px 5px;
    align-items: center;
    font-size: 1rem;
    font-weight: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: auto;
}

.button-cls-lg {
    text-align: center;
    flex-direction: column;
    color: #00c2cb;
    padding: 10px 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
}


hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
}




.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.right {
    right: 0;
    width: 80%;
    /* background-image: url('background-1356642_1280.png'); */
}

/* Control the right side */
.left {
    left: 0;
    width: 20%;
    background-color: #00c2cb;
}

.login-img {
    margin-top: 50%;
}

.login-input {
    background-color: #00c2cb;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.back-image {

    /* background-image: url('Verheffen Systems.png'); */
}

.split-case-det {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}